.icon-menu {
  float: right;
  font-size: 25px;
  margin: 10px 10px;
  color: ghostwhite;
}

.font {
  font-family: 'Amatic SC', cursive;
  color: ghostwhite;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

#template a {
  text-decoration: none;
}

#template h2 {
  color: black;
  text-decoration: underline;
  padding: 3px auto;
}

#template > img#bus {
  height: 100px;
  width: 150px;
}

#template p {
  color: black;
  margin: 0 auto;
}

#header h2 {
  font-size: 45px;
}

#header p {
  font-size: 30px;
}

#mainNav ul {
  display: none;
  padding: 0px;
  list-style: none;
  clear: both;
}
/* toggle functionality?*/

#mainNav:hover ul {
  display: block;
}

#mainNav li {
  font-size: 25px;
  padding: 0px 10px;
  text-decoration: underline;
}

#projects div {
  margin-bottom: 20px;
}

#connectNav ul {
  height: 25px;
  width: 170px;
  background-color: rgba(248, 248, 255, 0.6); /*ghostwhite rgba with 0.6 opacity/alpha value*/
  border-radius: 20px;
  margin: 10px auto;
  padding: 10px 0px 10px 0px;
  clear: both;
}

#connectNav li {
  display: inline;
  font-size: 25px;
  color: black;
  margin: 10px;
}

#connectNav a {
  text-decoration: none;
}

/*LARGER SCREEN STYLING*/

@media screen and (min-width: 640px) {
  .icon-menu {
    visibility: hidden;
  }
  #mainNav ul {
    display: block;
    margin: 20px auto;
  }
  #mainNav li {
    display: inline;
  }
  #mainNav li:hover {
    background-color: rgba(248, 248, 255, 0.6);
    color: black;
  }
  #connectNav ul {
    padding: 10px 0px 10px 0px;
  }
  #connectNav li:hover {
    color: ghostwhite;
  }
}

@media screen and (min-width: 640px) and (max-width: 691px) {
  #mainNav ul {
    padding: 0px 30px 0px 40px;
  }
  #mainNav li {
    margin: 5px;
    padding: 5px;
  }
}
