html {
  background: url(../imgs/galaxy.jpg) no-repeat center center fixed;
  /*background img credit: https://newevolutiondesigns.com/images/freebies/galaxy-wallpaper-36.jpg*/
  background-size: cover;
  background-repeat: no-repeat;
}

article {
  background-color: rgba(248, 248, 255, 0.6);
  text-align: center;
  height: auto;
  width: 475px;
  margin: 20px auto;
  border: 1px none ghostwhite;
  border-radius: 20px;
}

h1 {
  font-size: 80px;
  font-family: 'Euphoria Script', cursive;
  color: ghostwhite;
}

h2 {
  font-size: 45px;
  font-family: 'Amatic SC', cursive;
  color: ghostwhite;
  margin: 20px;
}

p {
  font-size: 30px;
  font-family: 'Amatic SC', cursive;
  color: ghostwhite;
  margin: 20px
}

a:link {
  text-decoration: underline;
}

a:visited {
  text-decoration: none;
}

img {
  height: 200px;
  width: 200px;
}
