.center {
  text-align: center;
  margin: 0 auto;
}

html {
  background: url(../imgs/galaxy.jpg) no-repeat center center fixed;
  /*background img credit: https://newevolutiondesigns.com/images/freebies/galaxy-wallpaper-36.jpg*/
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-size: 80px;
  font-family: 'Euphoria Script', cursive;
  width: 85px;
  height: 85px;
  color: ghostwhite;
  border: 2px solid white;
  border-radius: 50%;
}

h2 {
  font-size: 60px;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  color: ghostwhite;
}

p {
  font-size: 30px;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  color: ghostwhite;
}

a:link, a:visited {
  text-decoration: none;
}
